schemas/ieee2416-2025.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://standards.ieee.org/ieee/2416/2025/power-model"
           xmlns="https://standards.ieee.org/ieee/2416/2025/power-model"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  <xs:annotation>
    <xs:documentation>Reference implementation schema source for IEEE 2416-style parameterized power models. This first profile covers RTL macro models used by the mobile CPU example.</xs:documentation>
  </xs:annotation>

  <xs:simpleType name="ModelClassType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="rtlMacro"/>
      <xs:enumeration value="synthesisCalibratedMacro"/>
      <xs:enumeration value="implementationMacro"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AbstractionLevelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="rtl"/>
      <xs:enumeration value="gate"/>
      <xs:enumeration value="physical"/>
      <xs:enumeration value="system"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PowerDomainType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PD_AON"/>
      <xs:enumeration value="PD_CPU"/>
      <xs:enumeration value="PD_MEM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PowerStateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="RUN"/>
      <xs:enumeration value="IDLE"/>
      <xs:enumeration value="LIGHT_SLEEP"/>
      <xs:enumeration value="DEEP_SLEEP"/>
      <xs:enumeration value="WAKE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ClockRefType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="top"/>
      <xs:enumeration value="core"/>
      <xs:enumeration value="mem"/>
      <xs:enumeration value="none"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ComponentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="leakage"/>
      <xs:enumeration value="clock"/>
      <xs:enumeration value="event"/>
      <xs:enumeration value="toggle"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ContributorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="static"/>
      <xs:enumeration value="clock"/>
      <xs:enumeration value="event"/>
      <xs:enumeration value="toggle"/>
      <xs:enumeration value="transition"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="NameValueParameterType">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
    <xs:attribute name="unit" type="xs:string" use="optional"/>
  </xs:complexType>

  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="generator" type="xs:string" minOccurs="0"/>
      <xs:element name="source" type="xs:string" minOccurs="0"/>
      <xs:element name="provenance" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DesignType">
    <xs:sequence>
      <xs:element name="parameter" type="NameValueParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="block" type="xs:string" use="required"/>
    <xs:attribute name="module" type="xs:string" use="required"/>
    <xs:attribute name="rtlPath" type="xs:string" use="required"/>
    <xs:attribute name="powerDomain" type="PowerDomainType" use="required"/>
    <xs:attribute name="clock" type="ClockRefType" use="required"/>
  </xs:complexType>

  <xs:complexType name="OperatingConditionsType">
    <xs:sequence>
      <xs:element name="process">
        <xs:complexType>
          <xs:attribute name="nodeNm" type="xs:decimal" use="required"/>
          <xs:attribute name="corner" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="temperature">
        <xs:complexType>
          <xs:attribute name="valueC" type="xs:decimal" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="supply" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="voltageV" type="xs:decimal" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="clock" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="ClockRefType" use="required"/>
          <xs:attribute name="frequencyMHz" type="xs:decimal" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PowerStatesType">
    <xs:sequence>
      <xs:element name="state" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="PowerStateType" use="required"/>
          <xs:attribute name="supply" type="xs:string" use="required"/>
          <xs:attribute name="clock" type="xs:string" use="required"/>
          <xs:attribute name="isolation" type="xs:boolean" use="required"/>
          <xs:attribute name="retention" type="xs:boolean" use="required"/>
          <xs:attribute name="leakageMw" type="xs:decimal" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ActivityParametersType">
    <xs:sequence>
      <xs:element name="event" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="source" type="xs:string" use="required"/>
          <xs:attribute name="description" type="xs:string" use="optional"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="signalActivity" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="source" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PowerComponentsType">
    <xs:sequence>
      <xs:element name="component" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="type" type="ComponentType" use="required"/>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="ref" type="xs:string" use="optional"/>
          <xs:attribute name="value" type="xs:decimal" use="required"/>
          <xs:attribute name="unit" type="xs:string" use="required"/>
          <xs:attribute name="voltageScaled" type="xs:boolean" use="optional"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PowerContributorsType">
    <xs:sequence>
      <xs:element name="contributor" minOccurs="1" maxOccurs="unbounded">
        <xs:complexType>
          <xs:attribute name="name" type="xs:string" use="required"/>
          <xs:attribute name="type" type="ContributorType" use="required"/>
          <xs:attribute name="domain" type="PowerDomainType" use="required"/>
          <xs:attribute name="driver" type="xs:string" use="required"/>
          <xs:attribute name="componentRef" type="xs:string" use="required"/>
          <xs:attribute name="pvtDependency" type="xs:string" use="required"/>
          <xs:attribute name="voltageDependency" type="xs:string" use="required"/>
          <xs:attribute name="frequencyDependency" type="xs:string" use="required"/>
          <xs:attribute name="stateDependency" type="xs:string" use="required"/>
          <xs:attribute name="workloadDependency" type="xs:string" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ScalingType">
    <xs:sequence>
      <xs:element name="voltage">
        <xs:complexType>
          <xs:attribute name="referenceV" type="xs:decimal" use="required"/>
          <xs:attribute name="dynamicExponent" type="xs:decimal" use="required"/>
          <xs:attribute name="leakageExponent" type="xs:decimal" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="temperature">
        <xs:complexType>
          <xs:attribute name="referenceC" type="xs:decimal" use="required"/>
          <xs:attribute name="leakagePer10cFactor" type="xs:decimal" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ValidityType">
    <xs:sequence>
      <xs:element name="voltageRange">
        <xs:complexType>
          <xs:attribute name="minV" type="xs:decimal" use="required"/>
          <xs:attribute name="maxV" type="xs:decimal" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="temperatureRange">
        <xs:complexType>
          <xs:attribute name="minC" type="xs:decimal" use="required"/>
          <xs:attribute name="maxC" type="xs:decimal" use="required"/>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="powerModel">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="metadata" type="MetadataType"/>
        <xs:element name="design" type="DesignType"/>
        <xs:element name="operatingConditions" type="OperatingConditionsType"/>
        <xs:element name="powerStates" type="PowerStatesType"/>
        <xs:element name="activityParameters" type="ActivityParametersType"/>
        <xs:element name="powerComponents" type="PowerComponentsType"/>
        <xs:element name="powerContributors" type="PowerContributorsType"/>
        <xs:element name="scaling" type="ScalingType"/>
        <xs:element name="validity" type="ValidityType"/>
      </xs:sequence>
      <xs:attribute name="standard" type="xs:string" use="required"/>
      <xs:attribute name="schemaVersion" type="xs:string" use="required"/>
      <xs:attribute name="modelClass" type="ModelClassType" use="required"/>
      <xs:attribute name="abstractionLevel" type="AbstractionLevelType" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
